.header {
    position: fixed;
    width: 100%;
    min-height: 90px;
    left: 0;
    top: 0;
    background: #f8ba5efd;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.55);
    z-index: 1;
    // padding: 3px 0 0;
    padding: 1px 2px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;

    .mainSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        // gap: 10vw;
        width: 100%;
        max-width: 600px;
        // background: #f1ff2a;

        &_left {
            width: 33%;
            // background: #ff5858be;
            display: flex;
            justify-content: flex-start;
        }

        &_centr {
            width: 33%;
            // background: #ff5858be;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_right {
            width: 33%;
            // background: #ff5858be;
            display: flex;
            justify-content: flex-end;
        }

        .btn_signIn {
            padding: 3px 6px;
            min-height: 24px;
            font-size: 15px;
            font-weight: 600;
            color: rgb(114, 114, 114);
            cursor: pointer;
            background: transparent;
            // margin-top: 6px;
            // width: 140px;
            // background: #a1ff25ad;

            &:hover {
                background: #ffffff77;
            }
        }

        .linkHome{
            line-height: 0;
            padding: 0;
            font-size: 0;
        }
     
        .linkOrder {
           color: rgb(47, 58, 153);
           font-weight: 800;
           font-size: 14px;
           margin: 1px;
           padding: 5px 7px;
           background: #f5d752;
           border-radius: 14px;
           outline: 1px solid rgba(26, 51, 158, 0.575);
           outline-offset: -2px;
           box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
           cursor: pointer;

           &:hover{
            background: #fffc4a;
           }
        }
    }

    .navSection {
        box-shadow: inset 4px 0 8px rgba(0, 0, 0, 0.65), inset -4px 0 8px rgba(0, 0, 0, 0.65);
        max-width: 100%;
        overflow-x: auto;
        background: #ffffff7a;
        align-self: center;
        border-radius: 10px;
    }
}