.wrapper {
    --colNum-width: 35px;
    --colPrice-width: 80px;
    --colQuantity-width: 90px;

    border-radius: 6px;
    padding: 1vh 2vw;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 24px 6px rgba(0, 0, 0, 0.55);
    width: 600px;
    max-width: 100%;
    margin: 30px 0;

    .btn_deleteAll{
        width: fit-content;
        padding: 4px;
        background: #e7c6d6;
        border: 2px solid #a7597f;
        color: #9e396c;
        font-weight: 600;
        margin: 0 0 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.55);
        cursor: pointer;

        &:hover{
            background: #ffafd6;
            border: 2px solid #b61b68;
            color: #b61b68;
        }
    }

    .headLine {
        color: #3c5091;
        margin: 0 auto 12px;
        text-align: center;
    }

    .btn_createProduct {
        margin:12px 0 8px;
        font-size: 16px;
        background: #485a97;
        color: white;
        padding: 10px 6px;
        cursor: pointer;
        &:hover{
            background: #3f5ab4;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            color: rgb(84, 238, 84);
        }
    }
}