.newsCard {
    --card-bgColor: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    background: var(--card-bgColor);
    margin: 10px 3vw;
    padding: 0 2% calc(6px + 2%);
    box-shadow: 0 0 5px 5px var(--card-bgColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(9, 42, 133);

    .adminSection {
        .adminBtn {
            --colorRGB: 83, 116, 189;
            margin: 4px 6px;
            padding: 0 6px;
            line-height: 0;
            font-size: 25px;
            background: rgba(var(--colorRGB), 0.12);
            // border: 1px solid rgb(var(--colorRGB));
            color: rgb(var(--colorRGB));
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);

            &:hover {
                background: rgba(var(--colorRGB), 0.3);
            }
        }
    }

    &_date {
        display: inline-block;
        align-self: flex-end;
        font-weight: 700;
        color: rgb(97, 97, 97);
        border-radius: 16px;
        padding: 2px 6px;
        margin-bottom: 5px;

        strong {
            color: rgb(202, 13, 117);
        }
    }

    &_text {
        font-family: inherit;
        width: 100%;
        white-space: pre-wrap;
    }

    &_title {
        margin-bottom: 6px;
        font-size: 1.05em;
    }
}