// .form{
//     width: 450px;
//     height: 500px;
//     border: 2px solid rgb(26, 26, 146);
//     border-radius: 5px;
//     background-color: rgb(149, 190, 190);
// }

.form {
    max-width: 450px;
    // margin: 0 auto;
    padding: 8px;
    // border: 2px solid rgb(26, 26, 146);
    border-radius: 6px;
    background-color: rgb(149, 190, 190);
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input {
      width: 100%;
      padding: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }