.nav {
    // margin-bottom: 4px;
    // margin-top: -6px;
    // display: flex;
    // flex: 0 1 auto;
    // flex-wrap: wrap;
    width: max-content;
    // max-width: 100%;
    // overflow-x: auto;
    padding:0 4px 3px;
    border: 2px solid #ffcf758f;
    border-width: 2px 4px;
    border-color: transparent #d4a45bfd ;

    ul {
        display: flex;
        // flex-wrap: wrap;
        gap: 6px;
        align-items: flex-end;


        .nav_item {
            
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: 3px 1px 1px;
            border: 4px solid transparent;
            border-top: none;
            color: rgb(26, 48, 145);
            border-bottom-color: #1b379285;
            font-weight: 600;
            font-size: 16px;


            &:hover {
                transform: scale(1.04);
                border-bottom-color: #1b3792d3;
                background: #ffffff2d;
            }

            &.active {
                border-bottom-color: #f32078;
                font-weight: 900;
            }
          
        }
    }
}