.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;

    .headLine {
        margin: 8px auto;
        text-align: center;

        font-size: 26px;
        font-weight: 500;
        margin: 20px 10px;
        color: #063c8f;
        font-weight: 800;
        text-shadow: 2px 2px 6px white,
            -2px -2px 6px white,
            -2px 2px 6px white,
            2px -2px 6px white, ;

    }
    .btn_createNews{
        background: #2a56a7b2;
        color: rgb(255, 246, 228);
        border-radius: 4px;
        padding: 6px 14px;
        align-self: center;
        font-style: italic;
        margin-bottom: 15px;
        cursor: pointer;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.486);
        letter-spacing: 0.05em;

        &:hover{
            background: #2756af;
        }
    }

    .newsList {
        display: flex;
        flex-direction: column;
        gap: 10px;

     

        &_noNews {
            text-align: center;
            font-size: 24px;
            color: #694a30;
            font-weight: 700;
            text-shadow: 0px 0px 3px rgb(255, 254, 254);
        }
    }

}