.wrapper {
    --colNum-width: 35px;
    --colPrice-width: 80px;
    --colQuantity-width: 90px;

    // border-radius: 6px;
    padding: 1vh 2vw;
    background: #ffffee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 35px 4px rgba(0, 0, 0, 0.55);
    width: 600px;
    max-width: 100%;
    margin: 30px 0;

    .headLine {
        color: #3c5091;
        margin: 0 auto 12px;
        text-align: center;
    }
}