.contactsCard {
    border-radius: 10px;
    background: #fff5e294;
    margin: 20px 2vw;
    padding: 30px 3vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.562);
    max-width: 800px;
    color: rgb(77, 37, 14);
    display: flex;
    flex-direction: column;
    align-items: center;


    .intro {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;

        &_text{
            width: max-content;
        }

        &_name {
            font-weight: 700;
            color: rgb(187, 12, 94);
            font-style: italic;
        }

        &_img {
            margin-left: 10px;
            filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.514));
        }      

    }

    .headline {
        font-size: 20px;
        text-align: center;
        margin: 20px 0 30px;
        // color: #3f1e0a;
    }

    .contactsList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .contactsItem {
            display: flex;
            align-items: center;
            padding: 3px;
            gap: 8px;
            cursor: pointer;
            font-weight: 600;
            font-size: 18px;

            &:hover{
                background: rgba(255, 255, 255, 0.726);
            }

            &_icon{
                width: 40px;
                color:#5241a6;
                fill: transparent;
                stroke: currentColor;
                stroke-width: 44px;
                filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.7));
            }
        }
    }
}